#playing-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card{
  display: flex;
  flex-direction: row;
justify-content:space-between;
  width:50px;
  height: 50px;
}

.left{
align-self:flex-start;
}
.middle{
  display:flex;
 align-self:center;
 flex-direction:column;
}
.right{
  align-self:flex-end;
}
